.frame {
  position: fixed;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  display: flex;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  transition: opacity 300ms ease, visibility 300ms ease;
}

.frame--visible {
  opacity: 1;
  visibility: visible;
}

.container {
  pointer-events: all;
  transform: translateY(100%);
  transition: transform 300ms ease;
}

.container--visible {
  transform: translateY(0);
}

.button {
  padding: 10px 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: black;
  display: inline-flex;
  text-decoration: none;
  background: #dedede;
}
