.frame {
  position: fixed;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  display: flex;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.frame--visible {
  opacity: 1;
  visibility: visible;
}

.container {
  pointer-events: all;
}
